
<!-- <div class="container">  -->
  	<h3>Edit your professional resume</h3>

    <div class="row">
      <div class="col-md-7">

        <div class="panel panel-default">
              <div class="panel-heading"><h4><i class="fa fa-tag fa-lg"></i> Skills</h4></div>
              <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">

                      <tag-manager tags="tags" autocomplete="allTags"></tag-manager>
                      <hr>
                      <button class="btn btn-primary" ng-click="saveChangesUserSkills()" >Save</button>
                    </div>
                    
                  </div>
                  
                  
              </div><!--/panel-body-->
          </div>
      </div>
    </div><!--/row-->
<!-- </div>/container -->


  